<h1>Editing Author</h1>

<%= render 'form', author: @author %>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Show', @author, class: "btn btn-dark" %>
<%= link_to 'Back', authors_path, class: "btn btn-outline-dark" %>
</div>
