<h1>Authors</h1>

<table class="table table-sm">
  <thead>
    <tr class="table-dark">
      <th>Name</th>
      <% if user_signed_in? %>
        <th colspan="2"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr scope="row">
        <td><%= link_to author.name, author, class: "link-dark" %></td>
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_author_path(author), class: "btn btn-light btn-sm" %></td>
          <td><%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if user_signed_in? %>
<%= link_to 'New Author', new_author_path, class: "btn btn-primary" %>
<% end %>
