<h1>Editing Publisher</h1>

<%= render 'form', publisher: @publisher %>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Show', @publisher, class: "btn btn-dark" %>
<%= link_to 'Back', publishers_path, class: "btn btn-outline-dark" %>
</div>