<h1>Editing Book</h1>

<%= render 'form', book: @book %>

<br>

<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'Show', @book, class: "btn btn-dark"  %>
<%= link_to 'Back', books_path, class: "btn btn-outline-dark" %>
</div>
